@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*, ::before, ::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none; display: inline-block;}
img{ vertical-align: bottom;}
iframe{ border: none;}
label{ display: inline-block;}
button{ cursor:pointer; padding: 0;}
:disabled{ cursor: not-allowed;}
table{ border-collapse: collapse;}
ul{ list-style: none; padding: 0;}




html{
    font-size: 15px;
    scroll-behavior: smooth;
    --hind:'Hind', sans-serif;
    --mont: 'Montserrat', sans-serif;;
}

body{
    font:16px var(--hind);
}

.container{
    width: 1560px;
    margin: auto;
    padding: 0 1rem;
}

.row{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
}
[class^="col-"]{ 
    flex: 1 0 auto;
    padding: 0 1rem;
}
.col-1{
    flex-basis: 8.33%;
    max-width: 8.33%;
}
.col-2{
    flex-basis: 16.66%;
    max-width: 16.66%;
}
.col-3{
    flex-basis: 25%;
    max-width: 25%;
}
.col-4{
    flex-basis: 33.33%;
    max-width: 33.33%;
}
.col-5{
    flex-basis: 41.66%;
    max-width: 41.66%;
}
.col-6{
    flex-basis: 50%;
    max-width: 50%;
}
.col-7{
    flex-basis: 58.33%;
    max-width: 58.33%;
}
.col-8{
    flex-basis: 66.66%;
    max-width: 66.66%;
}
.col-9{
    flex-basis: 75%;
    max-width: 75%;
}
.col-10{
    flex-basis: 83.33%;
    max-width: 83.33%;
}
.col-11{
    flex-basis: 91.66%;
    max-width: 91.66%;
}
.col-12{
    flex-basis: 100%;
    max-width: 100%;
}
.h100{ height: 100%;}
.flex{ display: flex;}
.justify-right{ justify-content: right;}
.space-bet{ justify-content: space-between;}
.align-center{ align-items: center;}
.img-resp{ max-width: 100%; height: auto;}


/* layout */
.wrap-1{ background: #212429; color: #fff; height: 55px;}
.wrap-1 a{ color: inherit; line-height: 55px; }
.header-list a{ display: block; width: 62px;  border: 1px #3c3c3c; border-style: none solid; text-align: center; }
.menu{ border: none; background: none;  width: 62px; height: 55px; border: 1px #3c3c3c; border-style: none solid; }
.menu span{display: block; height: 2px; background: #fff; width: 20px; margin: 4px auto;}
.wrap-1 a:hover{ color: #999;}
h1{ text-align: center; font-size: 22px;}
header div.flex{ display: none;}
header input{ display: none;}




.wrap-2{ background: linear-gradient(180deg, #212429 50%, #ffff 50%); }
.slider{ position: relative;}
.slide{ display: none; }
.slide.active{ display: block;}
.slide figcaption{ position: absolute; left: 100px; top: 50%; color: #fff; transform: translateY(-50%); width: 30%;}
.wrap-2 h2{ font-size: 40px;}
.pager{position: absolute; transform: rotate(-90deg); right: 0; top: 50%; color: #fff; }
.pager ul{ justify-content: center; flex-direction: row-reverse;  }
.pager li{ margin: 5px; }
.pager a{ display: block; width: 8px; height: 8px; border: 1px solid #fff;}
.pager a.active{ background: #999; }



.wrap-3{ background: #f9f9f9;}
.wrap-3 .signup form{ padding: 27px 0 0 0; margin-bottom: 77px;}
.wrap-3 h3{}
.wrap-3 .signup input{ width: 100%; height: 50px; background: #fff; border: none; padding: 10px; margin-bottom: 23px;}
.wrap-3 .signup button{width: 100%; height: 50px; background: #212121; color: #fff; border: none; margin-bottom: 23px;}
.post{position: relative; background: #fff; border: 1px solid #f1f1f3; padding: 55px 2rem 0; text-align: center; font-size: 14px; color: #999; margin: 38px 0;}
.post .icon{ position: absolute; left: 50%; background: #212121; color: #fff; width: 40px; line-height: 35px; top: 0; transform: translate(-50%, -50%); cursor: pointer; }
.post h3{ font-size: 20px; color: #212121;}

.post footer{ padding: 15px 0; border-top: 1px solid #f7f7f7; margin: 10px -2rem 0;}
.post footer form{ flex: 1 0 66%; position: relative;  }
.post footer form label span{ position: absolute; top: 50%; transform: translateY(-50%); }
.post footer form input{ width: 100%; font-size: 14px; border: none; background: none; height: 30px; padding: 0 9px 0 20px; }
.post footer form input:focus{ outline: none;}

.post footer ul{ flex: 1 0 33%; }
.post footer li{ margin: 5px;}
.post footer a{ display: block; color: #464646; }




.wrap-4{ color: #ccc; background: #212429; padding: 55px 0;}
.wrap-5{ line-height: 41px; text-align: center; color: #ccc; background: #17191c;}



@media screen and (max-width:1580px){
    .container{width: 100%;}
    .wrap-2 h2{font-size: 34px;}
}

@media screen and (max-width:1220px){
    html{ font-size: 14px;}   

}

@media screen and (max-width:980px){
    html{ font-size: 13px;}
    .col-t-2{flex-basis: 16.66%; max-width: 16.66%;}
    .col-t-3{flex-basis: 25%; max-width: 25%;}
    .col-t-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-6{flex-basis: 50%; max-width: 50%;}
    .col-t-12{flex-basis: 100%; max-width: 100%;}
    .slide figcaption{ width: 50%;}
}

@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .col-m-6{flex-basis: 50%; max-width: 50%;}
    .col-m-12{flex-basis: 100%; max-width: 100%;}
   
}

@media screen and (max-width:460px){
    .col-p-3{flex-basis: 25%; max-width: 25%;}
    .col-p-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{flex-basis: 50%; max-width: 50%;}
    .col-p-12{flex-basis: 100%; max-width: 100%;}
    .header-list{ display:none; position: absolute; width: 100%; left: 0; right: 0; background: #212429;}
    header div.flex{ display:flex;}
    header input:checked+.header-list{ display: block;}
    .slide figcaption{ width: 70%; left: 20px;}
    .slide figcaption h2{ font-size: 20px;}
    .pager{ transform: rotate(0); bottom: 0; top: auto;  }
}

